* {
	box-sizing: border-box;
}

.main	{
	text-align: center;
	height: 100vh;
}

@media only screen and (max-width: 600px){ 

	header img {
		border-radius: 60px;
		
		width: 60px;
		position: fixed;
		top: 5px;
		left: 10px;
	}

	.main {
		display: flex;
		flex-direction: column;
		justify-content: center, space-between;
	}

	.main button {
		border: none;
	}
	
	section {
		
		height: 33.33%;
		padding: 0px;
		margin: 0px;
		border-radius: 15px;
	}

	#headline {
		background-color: white;
		
	}

	section img {
		width: 100%;

	}

}

@media only screen and (min-width: 601px){

header img {
		border-radius: 60px;
		
		width: 60px;
		position: fixed;
		top: 5px;
		left: 10px;
	}

	section img {
		width: 100%
	}

	#headline {
		border: 3px solid black;
		display: absolute;
		flex-direction: column;
		justify-content: center;
		background-color: white;
		margin-top: 50px;
		height: 400px;
	}

	#projects {
		
		background-color: lightgrey;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 50%;
	}

	#bio {
		
		background-color: grey;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		width: 50%;
	}

}