* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 16px;
	background-color: lightgrey;
}

@media only screen and (max-width: 600px){
 
	body {
		background-color: lightgrey;
	}

	header {
		text-align: center;
	}

	header a {
		text-decoration: none;
		font-family: 'Just Another Hand', cursive;
		font-size: 40px;
		color: black;
	}

	header a:hover {
		color: grey;
	}

	.main {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		font-family: 'Poppins', sans-serif;
		border: 2px solid white;
		border-radius: 25px;
		padding: 25px;
	}

	section {
		width: 300px;
		margin-right: auto;
		margin-left: auto;
		margin: 10px;
	}
	
	section input:hover {
		opacity: .8;
	}

	#project-one-repo img {
		width: 30px;
	}

	#tbd {
		display: flex;
		flex-direction: column-reverse;
	}

	#bio-pic {
		margin-top: 10px;
	}

	#bio-pic img {
		border-radius: 15px;
	}

	.social-media-links {
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#social-media a {
		text-decoration: none;
		color: black;
		font-family: 'Just Another Hand', cursive;
		font-size: 40px;
	}

	#social-media a:hover {
		color: grey;
	}

	.social-media-links img{
		width: 30px;
	}

	.social-media-links li{
		list-style-type: none;
	}
}

@media only screen and (min-width: 601px){
 
	header {
		text-align: center;
	}

	header a {
		text-decoration: none;
		font-family: 'Just Another Hand', cursive;
		font-size: 40px;
		color: black;
	}

	header a:hover {
		color: grey;
	}

	.main {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		font-family: 'Poppins', sans-serif;
		border: 3px solid white;
		border-radius: 25px;
		padding: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	section {
		margin-right: auto;
		margin-left: auto;
		margin: 10px;
		display: inline-block;
	}
	
	section input:hover {
		opacity: .8;
	}

	#project-one-repo img {
		width: 30px;
	}

	#tbd {
		display: flex;
		flex-direction: column-reverse;
	}

	#bio-pic {
		margin-top: 10px;
	}

	#bio-pic a img {
		border-radius: 15px;
	}

	#bio-description {
		text-align: left;
	}

	.social-media-links {
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#social-media a {
		text-decoration: none;
		color: black;
		font-family: 'Just Another Hand', cursive;
		font-size: 40px;
	}

	#social-media a:hover {
		color: grey;
	}

	.social-media-links img{
		width: 30px;
	}

	.social-media-links li{
		list-style-type: none;
	}
}